:host {
    height: 100%;
    display: block;

    main {
        display: flex;
        flex-direction: column;
        place-content: center;
        justify-content: space-evenly;
        padding: 4rem;
        height: 100%;

        section {
            display: flex;
            flex-direction: column;
            place-content: center;

            button {
                margin-top: 1rem;
            }
        }

        img {
            margin: 0 auto;
        }
    }
}